<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="{% url 'about' %}" class="nav-link px-2">About Me</a></li>
        <li><a href="{% url 'blog' %}" class="nav-link px-2">Blog</a></li>
        <li><a href="{% url 'contact' %}" class="nav-link px-2">Contact</a></li>
      </ul>
    </header>
  </div>